@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --navy: #11294e;
  --darkblue: #0a192f;
  --pearlgreen: #28854c;
  --lightblue: #007af3;
  --lighternavy: #163564;
  --darkgray: #20272e;
  --lightgray: #f2f2f2;
  --pink: #ff3c78;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: white;
}

#navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  -webkit-transition: 200ms ease-in-out background-color;
  transition: 200ms ease-in-out background-color;
}

#navbar .container {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5em;
}

#navbar .container .logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  margin-left: 4vw;
}

#navbar .container .mobile-menu {
  cursor: pointer;
  margin: 3vh 6vw;
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

#navbar .container nav {
  display: none;
}

#navbar .container nav .mobile-menu-exit {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

#hero-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.6))), url("../images/hero-background.jpg");
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.6)), url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
}

#hero-section .container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-section .container h1 {
  font-size: 5vh;
  color: white;
}

#hero-section .container h2 {
  font-size: 3vh;
  color: white;
  margin-bottom: 4vh;
}

#hero-section .container a {
  text-decoration: none;
}

#hero-section .container a ion-icon {
  color: white;
  font-size: 5vh;
  margin: .2em;
}

#hero-section .container a ion-icon:hover {
  color: lightgray;
}

#about-section {
  background: var(--navy);
  border: 1px solid transparent;
  color: white;
  text-align: center;
}

#about-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-section .container .about-title {
  margin-top: 5vh;
  font-size: 1.5em;
  letter-spacing: .15em;
}

#about-section .container .about-details {
  background: var(--lighternavy);
  margin: 10vh 5vw 15vh 5vw;
  padding-bottom: 15vh;
  border-radius: 1em;
}

#about-section .container .about-details .left img {
  width: 30vw;
  height: auto;
  border-radius: 50%;
  border: 5px solid lightgray;
  margin-top: -4.5em;
}

#about-section .container .about-details .right p {
  margin-top: 3vh;
}

#about-section .container .about-details .right .tech-skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
  margin-right: 3vw;
}

#about-section .container .about-details .right .tech-skills-list li {
  margin: 0 4vw;
}

#about-section .container .about-details .right .view-resume-btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 3em;
  padding: 1em;
}

#about-section .container .about-details .right .view-resume-btn:hover {
  color: var(--navy);
  background: white;
}

#experience-section {
  background: var(--darkgray);
  border: 1px solid transparent;
  color: white;
  text-align: center;
}

#experience-section h3 {
  letter-spacing: .15em;
  font-size: 1.5em;
}

#projects-section {
  background: var(--darkblue);
  border: 1px solid transparent;
  color: white;
  text-align: center;
}

#projects-section h3 {
  letter-spacing: .15em;
  font-size: 1.5em;
}

#contact-section {
  background: var(--lightgray);
  border: 1px solid transparent;
  color: black;
  text-align: center;
}

#contact-section h3 {
  letter-spacing: .15em;
  font-size: 1.5em;
}

#contact-section .icon-container a {
  text-decoration: none;
}

#contact-section .icon-container a ion-icon {
  color: black;
  font-size: 5vh;
  margin: auto .2em;
}

#contact-section .icon-container a ion-icon:hover {
  color: var(--darkgray);
}

#navbar.active-nav {
  background-color: var(--lightgray);
}

#navbar.active-nav .container .logo {
  color: #0e0e0e;
}

#navbar.active-nav .container .mobile-menu {
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}

#navbar.active-nav .container nav ul li a {
  color: #0e0e0e;
}

#navbar.open-menu {
  background: transparent;
  position: absolute;
}

#navbar.open-menu .container .logo, #navbar.open-menu .container .mobile-menu {
  display: none;
}

#navbar.open-menu .container nav {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 999;
  background: var(--lightgray);
}

#navbar.open-menu .container nav .mobile-menu-exit {
  float: right;
  cursor: pointer;
  margin: 2em 2em;
}

#navbar.open-menu .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92%;
  height: 89vh;
  text-align: center;
}

#navbar.open-menu .container nav ul li {
  list-style-type: none;
  margin: 4vh 7vw 4vh 1vw;
}

#navbar.open-menu .container nav ul li a {
  position: relative;
  font-size: 5vw;
  color: #0e0e0e;
  text-decoration: none;
}

#navbar.open-menu .container nav ul li a:after {
  content: '';
  position: absolute;
  background-color: var(--pink);
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  transition: transform 0.35s ease;
  transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}

#navbar.open-menu .container nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media only screen and (min-width: 900px) {
  #navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #navbar .container .mobile-menu, #navbar .container .mobile-menu-exit {
    display: none;
  }
  #navbar .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto 35em;
  }
  #navbar .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #navbar .container nav ul li {
    list-style-type: none;
    margin: 0 2em;
  }
  #navbar .container nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
  }
  #navbar .container nav ul li a:after {
    content: '';
    position: absolute;
    background-color: var(--pink);
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease;
  }
  #navbar .container nav ul li a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  #about-section .container .about-details {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: .5em;
  }
  #about-section .container .about-details .left img {
    width: 20vw;
    margin-top: 4em;
    margin-left: 10em;
    border-radius: 1em;
    border: 0px solid transparent;
  }
  #about-section .container .about-details .right {
    margin-left: 3em;
    text-align: left;
  }
  #about-section .container .about-details .right .tech-skills-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(150px, 10px))[2];
        grid-template-columns: repeat(2, minmax(150px, 10px));
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0;
  }
  #about-section .container .about-details .right .view-resume-btn {
    margin-left: 5em;
  }
}
/*# sourceMappingURL=styles.css.map */