@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --navy: #11294e;
    --darkblue: #0a192f;
    --pearlgreen: #28854c;
    --lightblue: #007af3;
    --lighternavy: #163564;
    --darkgray: #20272e;
    --lightgray: #f2f2f2;
    --pink: #ff3c78;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: white;
}

#navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    transition: 200ms ease-in-out background-color;

    .container {
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.5em;

        .logo {
            color: white;
            text-decoration: none;
            font-size: 1.5em;
            margin-left: 4vw;
        }

        .mobile-menu {
            cursor: pointer;
            margin: 3vh 6vw;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        }

        nav {
            display: block;
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            right: 0;
            z-index: 999;
            background: var(--lightgray);
            transition: all 0.45s;
            transform: translateX(-100%);

            .mobile-menu-exit {
                float: right;
                cursor: pointer;
                margin: 2em 2em;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 92%;
                height: 89vh;
                text-align: center;

                li {
                    list-style-type: none;
                    margin: 4vh 3em 4vh 0vw;
        
                    a {
                        position: relative;
                        font-size: 1.5em;
                        color: #0e0e0e;
                        text-decoration: none;

                        &:after {
                            content: '';
                            position: absolute;
                            background-color: var(--pink);
                            width: 100%;
                            height: 2px;
                            bottom: -5px;
                            left: 0;
                            transform: scaleX(0);
                            transition: transform 0.35s ease;
                        }

                        &:hover::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}

#hero-section {
    //Set Background Image
    background-image: linear-gradient(rgba(50,50,50,.5), rgba(50,50,50,.6)), url("../images/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100vh;

    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;

        h1 {
            font-size: 5vh;
            color: white;
        }

        h2 {
            font-size: 3vh;
            color: white;
            margin-bottom: 4vh;
        }

        a {
            text-decoration: none;

            ion-icon {
                color: white;
                font-size: 5vh;
                margin: .2em;

                &:hover {
                    color: lightgray;
                };
            }
        }
    }
}

#about-section {
    background: var(--navy);
    border: 1px solid transparent;
    color: white;
    text-align: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .about-title {
            margin-top: 5vh;
            font-size: 1.5em;
            letter-spacing: .15em;
        }

        .about-details {
            background: var(--lighternavy);
            margin: 10vh 5vw 15vh 5vw;
            padding-bottom: 15vh;
            border-radius: 1em;

            .left {
                img {
                    width: 30vw;
                    height: auto;
                    border-radius: 50%;
                    border: 5px solid lightgray;
                    margin-top: -4.5em;
                }
            }

            .right {

                p {
                    margin-top: 3vh;
                    line-height: 2em;
                }

                .tech-skills-list {
                    display: flex;
                    justify-content: center;
                    margin-top: 5vh;
                    margin-bottom: 10vh;
                    margin-right: 3vw;
                    
                    li {
                        margin: 0 4vw;
                    }
                } 

                .view-resume-btn {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    border: 3px solid white;
                    border-radius: 3em;
                    padding: 1em;

                    &:hover {
                        color: var(--navy);
                        background: white;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}

#experience-section {
    background: var(--darkgray);
    border: 1px solid transparent;
    color: white;
    text-align: center;

    h3 {
        letter-spacing: .15em;
        font-size: 1.5em;
    }
}

#projects-section {
    background: var(--darkblue);
    border: 1px solid transparent;
    color: white;
    text-align: center;

    h3 {
        letter-spacing: .15em;
        font-size: 1.5em;
    }
}

#contact-section {
    background: var(--lightgray);
    border: 1px solid transparent;
    color: black;
    text-align: center;

    h3 {
        letter-spacing: .15em;
        font-size: 1.5em;
    }

    .icon-container {
        a {
            text-decoration: none;

            ion-icon {
                color: black;
                font-size: 5vh;
                margin: auto .2em;

                &:hover {
                    color: var(--darkgray);
                }
            }
        }
    }
}

#navbar.active-nav {
    background-color: var(--lightgray);
    transition: all 0.3s;

    .container {

        .logo {
            color: #0e0e0e;
        }

        .mobile-menu {
            filter: brightness(0%);
        }

        nav {
            ul 
            {
                li {
                    a {
                        color: #0e0e0e;
                    }
                }
            }
        }
    }
}

#navbar.open-menu {
    background: transparent;
    position: absolute;

    .container {

        .logo, .mobile-menu {
            display: none;
        }
        
        nav {
            transform: translateX(0);
        }
    }
}

@media only screen and (min-width: 900px) {

    #navbar {

        .container {
            display: flex;

            .mobile-menu, .mobile-menu-exit {
                display: none;
            }
    
            nav {
                background: none;
                display: flex;
                margin: auto 25em;
                transform: translateX(50%);
                height: 4.4em;
                width: 45em;

                ul {
                    padding-top: 0.1em;
                    margin: 0;
                    height: 4.3em;
                    flex-direction: row;
                    justify-content: center;

                    li {
                        list-style-type: none;
                        margin: 0 2em;
    
                        a {
                            position: relative;
                            text-decoration: none;
                            color: white;
                            font-size: 1.1em;

                            &:after {
                                content: '';
                                position: absolute;
                                background-color: var(--pink);
                                width: 100%;
                                height: 2px;
                                bottom: -5px;
                                left: 0;
                                transform: scaleX(0);
                                transition: transform 0.35s ease;
                            }
    
                            &:hover::after {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }    
    }

    #about-section {

        .container {

            .about-details {
                //background: transparent;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: .5em;

                .left {
                    img {
                        width: 18em;
                        margin-top: 3vh;
                        margin-left: 7vw;
                        border-radius: 1em;
                        border: 0px solid transparent;
                    }
                }

                .right {
                    margin-left: 6vw;
                    text-align: left;

                    .tech-skills-list {
                        display: grid;
                        grid-template-columns: repeat(2,minmax(150px,10px));
                        justify-content: left;
                        padding: 0;
                    }

                    .view-resume-btn {
                        margin-left: 5em;
                    }
                }
                
            }
        }
    }
}