@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --navy: #11294e;
    --darkblue: #0a192f;
    --emeraldgreen: #00ba9b;
    --lightblue: #007af3;
    --lighternavy: #163564;
    --darkgray: #111;
    --lightgray: #f2f2f2;
    --pink: #ff3c78;
    --criminson: #dc143c;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: white;
}

#navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    transition: 200ms ease-in-out background-color;

    .container {
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.5em;

        .logo {
            color: white;
            text-decoration: none;
            font-size: 1.5em;
            margin-left: 4vw;
            font-weight: bold;

            span {
                color: var(--emeraldgreen);
            }
        }

        .mobile-menu {
            cursor: pointer;
            margin: 3vh 6vw;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        }

        nav {
            display: block;
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            right: 0;
            z-index: 999;
            background: var(--lightgray);
            transition: all 0.45s;
            transform: translateX(-100%);

            .mobile-menu-exit {
                float: right;
                cursor: pointer;
                margin: 2em 2em;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 92%;
                height: 89vh;
                text-align: center;

                li {
                    list-style-type: none;
                    margin: 4vh 3em 4vh 0vw;
        
                    a {
                        position: relative;
                        font-size: 1.5em;
                        color: #0e0e0e;
                        text-decoration: none;

                        &:after {
                            content: '';
                            position: absolute;
                            background-color: var(--pink);
                            width: 100%;
                            height: 2px;
                            bottom: -5px;
                            left: 0;
                            transform: scaleX(0);
                            transition: transform 0.35s ease;
                        }

                        &:hover::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}

#hero-section {
    //Set Background Image
    background-image: linear-gradient(rgba(50,50,50,.5), rgba(50,50,50,.6)), url("../images/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100vh;

    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;

        h1 {
            font-size: 5vh;
            color: white;
        }

        h2 {
            font-size: 3vh;
            color: white;
            margin-bottom: 4vh;

            .soft-eng-text {
                color: white;
            }

            .data-sci-text {
                color: white;
            }
        }

        a {
            text-decoration: none;

            ion-icon {
                color: white;
                font-size: 5vh;
                margin: .2em;

                &:hover {
                    color: lightgray;
                };
            }
        }
    }
}

#about-section {
    background: var(--navy);
    border: 1px solid transparent;
    color: white;
    text-align: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .about-title {
            margin-top: 5vh;
            font-size: 1.5em;
            letter-spacing: .15em;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                display: block;
                background: var(--lightgray);
                width: 80px;
                height: 3px;
                left: 50%;
                bottom: 15px;
                transform: translateX(-50%);
            }
        }

        .about-details {
            background: var(--lighternavy);
            margin: 15vh 5vw;
            padding-bottom: 15vh;
            border-radius: 1em;

            .left {
                img {
                    width: 30vw;
                    height: auto;
                    border-radius: 50%;
                    border: 5px solid lightgray;
                    margin-top: -4.5em;
                }
            }

            .right {
                margin: auto 7vw;

                p {
                    margin-top: 3vh;
                    line-height: 2em;
                }

                .reach-out-text {
                    margin-bottom: 4em;
                }

                .view-resume-btn {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    border: 3px solid white;
                    border-radius: 3em;
                    padding: 1em;

                    &:hover {
                        color: var(--navy);
                        background: white;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}

#skills-section {
    background: var(--darkgray);
    border: 1px solid transparent;
    color: white;

    .container {

        .skills-title {
            margin-top: 9vh;
            letter-spacing: .15em;
            position: relative;
            text-align: center;

            h3 {
                font-size: 1.5em;

                span {
                    color: var(--emeraldgreen);
                }

                &::after {
                    content: '';
                    position: absolute;
                    background-color: var(--lightgray);
                    display: block;
                    width: 80px;
                    height: 3px;
                    left: 50%;
                    top: 50px;
                    transform: translateX(-50%);
                }
            }

            p {
                margin-top: 50px;
                font-size: 15px;
            }
        }

        .skills-details {
            width: 80vw;
            margin: 10vh 8vw 20vh 8vw;

            .skills-bar {
                margin: 5vh auto;

                .info {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 10px;

                    .percent {
                        font-weight: bold;
                    }
                }

                .bar {
                    width: 100%;
                    height: 10px;
                    background: gray;
                    border-radius: 10px;
                    margin-top: 5px;

                    span {
                        height: 100%;
                        border-radius: 10px;
                        background: var(--emeraldgreen);
                        float: left;
                    }
                }
            }
        }
    }
}

#skills-section.active-section {

    .container {

        .skills-details {
            .skills-bar {
                .bar {
                    .python {
                        width: 95%;
                        animation: python 2s;
                    }
        
                    @keyframes python {
                        0% {
                            width: 0%;
                        }
                        100% {
                            width: 95%;
                        }
                    }

                    .html {
                        width: 90%;
                        animation: html 2s;
                    }

                    @keyframes html {
                        0% {
                            width: 0%;
                        }
                        100% {
                            width: 90%;
                        }
                    }

                    .css {
                        width: 85%;
                        animation: css 2s;
                    }

                    @keyframes css {
                        0% {
                            width: 0%;
                        }
                        100% {
                            width: 85%;
                        }
                    }

                    .javascript {
                        width: 80%;
                        animation: javascipt 2s;
                    }

                    @keyframes javascipt {
                        0% {
                            width: 0%;
                        }
                        100% {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}

#experience-section {
    background: var(--lightgray);
    border: 1px solid transparent;
    color: black;
    text-align: center;

    h3 {
        margin-top: 5vh;
        font-size: 1.5em;
        letter-spacing: .15em;
        position: relative;
    }
}

#projects-section {
    background: var(--darkblue);
    border: 1px solid transparent;
    color: white;
    text-align: center;

    h3 {
        margin-top: 5vh;
        font-size: 1.5em;
        letter-spacing: .15em;
        position: relative;
    }
}

#contact-section {
    background: var(--lightgray);
    border: 1px solid transparent;
    color: black;
    text-align: center;

    h3 {
        font-size: 1.5em;
        letter-spacing: .15em;
        position: relative;
    }

    .icon-container {
        a {
            text-decoration: none;

            ion-icon {
                color: black;
                font-size: 5vh;
                margin: auto .2em;

                &:hover {
                    color: rgb(57, 57, 57);
                }
            }
        }
    }
}

#navbar.active-nav {
    background-color: var(--lightgray);
    transition: all 0.3s;

    .container {

        .logo {
            color: #0e0e0e;
        }

        .mobile-menu {
            filter: brightness(0%);
        }

        nav {
            ul 
            {
                li {
                    a {
                        color: #0e0e0e;
                    }
                }
            }
        }
    }
}

#navbar.open-menu {
    background: transparent;
    position: absolute;

    .container {

        .logo, .mobile-menu {
            display: none;
        }
        
        nav {
            transform: translateX(0);
        }
    }
}

@media only screen and (min-width: 435px) {

    #about-section {

        .container {

            .right {

                p {
                    text-align: justify;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {

    #navbar {

        .container {
            display: flex;

            .mobile-menu, .mobile-menu-exit {
                display: none;
            }
    
            nav {
                background: none;
                display: flex;
                margin: auto 25em;
                transform: translateX(50%);
                height: 4.4em;
                width: 45em;

                ul {
                    padding-top: 0.1em;
                    margin: 0;
                    height: 4.3em;
                    flex-direction: row;
                    justify-content: center;

                    li {
                        list-style-type: none;
                        margin: 0 2em;
    
                        a {
                            position: relative;
                            text-decoration: none;
                            color: white;
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }    
    }

    #navbar.active-nav {
        .container {
            nav {
                ul {
                    li {
                        a {
                            &::after {
                                background: var(--pink);
                            }
                        }
                    }
                }
            }
        }
    }

    #skills-section {
        .container {
            .skills-details {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 35vw);
                grid-column-gap: 13vw;

                .skills-bar {
                    margin: 5vh 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1250px) {
    #about-section {

        .container {

            .about-details {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 2.5em;
                padding-bottom: 2em;

                .left {
                    img {
                        width: 18em;
                        margin-left: 7vw;
                        margin-top: -1em;
                        border-radius: 1em;
                        border: 0px solid transparent;
                    }
                }

                .right {
                    margin: 5vh 6vw;
                    text-align: justify;

                    .view-resume-btn {
                        margin-left: 5.5em;
                    }
                }
                
            }
        }
    }
}
